pyopenssl
ndg-httpsclient
pyasn1
requests[security]
tabulate
pyparsing
nltk
jpype1
pyyaml
Pillow
beautifulsoup4
lxml
graphviz
psutil==0.4.1
Jinja2
matplotlib
werkzeug
python-geoip-geolite2
python-geoip
