{% extends 'prac_layout.html' %}

{% block title %}{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="viewport" content="user-scalable=yes">
    <script type="text/javascript" src="{{ url_for('download_prac_static', filename='script/pracweb.js') }}"></script>
    <script src="{{ url_for('download_prac_static', filename='script/d3.min.js') }}"></script>
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block _menu_right %}{% endblock %}
{% block menu_right %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{ super() }}
{% endblock %}