{% extends "layout.html" %}


{% block head %}
    <title>PRACWeb {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('download_prac_static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('download_prac_static', filename='css/style.css') }}">
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>        
{% endblock %}

{% block menu_right %}
    {% block _menu_right %}{% endblock %}
{% endblock %}


{% block content %}
    <div id="prac_container" style="width: 100%; height: 100%"></div>
{% endblock  %}

